html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  flex: 1;
}

/* button,
a {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}
button,
a:hover,
:focus {
  opacity: 0.5;
} */
